<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emilia</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/detalle.css">
</head>

<body>
    {{> nav}}

    <section class="migadepan"><a href="/">Inicio</a> > <a href="/store">ARETES</a> > {{nombre}}</section>

    {{#each producto}}
    <section class="producto">
        <article class="imagenes">
            <div class="imgsVerticales">
                <div class="imgCont">
                    <img id="imguno" src="./image/galeriaAretes/{{imagenes.[0]}}.jpg" alt="{{nombre}}" style="width: 100%;">
                </div>
                <div class="imgCont" >
                    <img id="imgdos" src="./image/galeriaAretes/{{imagenes.[2]}}.jpg" alt="{{nombre}}" style="width: 100%;">
                </div>
            </div>
            <div class="imgCont" >
                <img id="imgtres" src="./image/galeriaAretes/{{imagenes.[1]}}.jpg" alt="{{nombre}}" style="width: 100%;">
            </div>
        </article>
        <article class="descripcion">
            <h2>{{nombre}}</h2>
            <h3>{{precio}} COP</h3>
            <p>{{descripción}}</p>
            <div class="input">
                <input type="number" placeholder="0" min="1" class="cantidad">
                <button class="btnAgregar" data-name="{{nombre}}">Agregar al carrito</button>
            </div>
        </article>
    </section>
    {{/each}}

    {{> foot}}
</body>
<script>
    document.querySelector(".btnAgregar").addEventListener('click', function () {
        var name = document.querySelector(".btnAgregar").getAttribute('data-name');
        var cant = 1 ;
        if(document.querySelector(".cantidad").value !== '') cant= document.querySelector(".cantidad").value;

        fetch(`/api/AgregarAlCarrito`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `nombre=${name}&cantidad=${cant}`,
        }).then(function (respuesta) {
            return respuesta.text();
        }).catch(function (error) {
            console.error(error);
        }).then(function (mensaje) {
            console.log(mensaje);
        });

        window.location.href = "/checkout";
    }
    );

    var img1 = document.querySelector('#imguno');
    var img2 = document.querySelector('#imgdos');
    var img3 = document.querySelector('#imgtres');

    img1.addEventListener('click', ()=> {
        img3.src = img1.src;
    });

    img2.addEventListener('click', ()=> {
        img3.src = img2.src;
    });
</script>

</html>